---
import { DBCard } from '@db-ux/react-core-components';
import './ResourceCards.css';

interface Props {
	path: string;
}

const { path } = Astro.props;

const baseUrl = 'https://design-system.deutschebahn.com/core-web/review/main';

const resources = [
	{
		title: 'React',
		description: 'Interactive examples and documentation.',
		url: `${baseUrl}/react-storybook${path}`,
		icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg',
	},
	{
		title: 'Vue',
		description: 'Interactive examples and documentation.',
		url: `${baseUrl}/vue-storybook${path}`,
		icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg',
	},
	{
		title: 'Angular',
		description: 'Interactive examples and documentation.',
		url: `${baseUrl}/angular-storybook${path}`,
		icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg',
	},
	{
		title: 'Web C.',
		description: 'Interactive examples and documentation.',
		url: `${baseUrl}/angular-storybook${path}`,
		icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg',
	},
];
---

<div class="resource-cards">
	{
		resources.map((resource) => (
			<a href={resource.url} target="_blank" rel="noopener noreferrer">
				<DBCard behavior="interactive">
					<img
						src={resource.icon}
						alt={`Image for ${resource.title}, ${resource.description}`}
						width="32"
						height="32"
					/>
					<div class="resource-text">
						<b>{resource.title}</b>
						<p>{resource.description}</p>
					</div>
					<strong data-icon-trailing="arrow_up_right">View Storybook</strong>
				</DBCard>
			</a>
		))
	}
</div>
