---
import type { MarkdownHeading } from 'astro';
import '../../styles/global.css';
import HtmlHead from '@template/components/HtmlHead';
import MainContent from './main-content';
import { appConfig } from '@root/app.config.ts';
import { Shell } from '@template/components/Shell';

interface Props {
	headings?: MarkdownHeading[];
	frontmatter: FrontMatter;
}
const { headings, frontmatter } = Astro.props;
const currentPath = Astro.url.pathname;
const lang = currentPath.startsWith('/de/') || currentPath === '/de' ? 'de' : 'en';
---

<!doctype html>
<html lang={lang}>
	<HtmlHead title={frontmatter.title} loadModelViewer={frontmatter.loadModelViewer} />
	<body>
		<Shell
			client:only="react"
			pathname={currentPath}
			subNavigationVariant={frontmatter.subNavigationVariant}
		>
				<MainContent frontmatter={frontmatter} headings={headings}>
					<slot />
				</MainContent>
		</Shell>
		<slot name="script" />
	</body>
</html>
