---
import * as DBComponents from '@db-ux/react-core-components';
import DisabledWrapper from '@template/components/DisabledWrapper/DisabledWrapper.astro';
import './TeaserCard.css';

const { DBCard } = DBComponents;

interface Props {
	teasers: {
		title: string;
		description: string;
		url?: string;
		component?: string;
		disabled?: boolean;
	}[];
}

const { teasers } = Astro.props;
---

<div class="teaser-cards">
	{
		teasers.map((teaser) => {
			const Component = teaser.component ? (DBComponents as any)[teaser.component] : null;
			const isLink = teaser.component === 'DBLink';
			const isDisabled = teaser.disabled === true;
			const card = (
				<DBCard behavior={isDisabled ? undefined : 'interactive'} spacing="none">
					<div class="teaser-wrapper">
						<div class="teaser-content">
							<h2 class="teaser-title">
								{teaser.url ? (
									<a class="teaser-title-link" href={teaser.url}>
										{teaser.title}
									</a>
								) : (
									teaser.title
								)}
							</h2>
							<p class="teaser-description">{teaser.description}</p>
						</div>
						{Component && (
							<div class="teaser-preview">
								{isLink ? (
									<Component
										href="#"
										wrap={false}
										onclick="event.preventDefault(); event.stopPropagation();"
									>
										{teaser.title}
									</Component>
								) : (
									<Component>{teaser.title}</Component>
								)}
							</div>
						)}
					</div>
				</DBCard>
			);
			return isDisabled ? (
				<DisabledWrapper label="Coming Soon" size="small">
					{card}
				</DisabledWrapper>
			) : (
				card
			);
		})
	}
</div>
