---
import './PropertiesTable.css';

interface Props {
	config: any;
}

const { config } = Astro.props;

function getPropertyValues(property) {
	if (property.type === 'select') {
		const values = property.options.map((opt) => opt.label).join(', ');
		const defaultOpt = property.options.find((opt) => opt.default);
		return `(Default) ${defaultOpt?.label || property.defaultValue}, ${values.replace(defaultOpt?.label + ', ', '').replace(', ' + defaultOpt?.label, '')}`;
	}

	if (property.type === 'checkbox') {
		const otherValue = property.defaultValue ? 'false' : 'true';
		return `(Default) ${property.defaultValue}, ${otherValue}`;
	}

	if (property.type === 'text') {
		return `Text input`;
	}

	return 'Various';
}

const slots = config.slots || [];
const events = config.events || [];
---

<div class="properties-table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Property</th>
				<th>Values</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{
				config.properties.map((property) => (
					<tr>
						<td>
							{property.alternativeName
								? `${property.name} / ${property.alternativeName}`
								: property.name}
						</td>
						<td>{getPropertyValues(property)}</td>
						<td>{property.description}</td>
					</tr>
				))
			}
		</tbody>
	</table>
</div>

{
	slots.length > 0 && (
		<div class="properties-table-wrapper properties-table-spacing">
			<table>
				<thead>
					<tr>
						<th>Slot</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{slots.map((slot) => (
						<tr>
							<td>
								<code>{slot.name}</code>
							</td>
							<td>{slot.description}</td>
						</tr>
					))}
				</tbody>
			</table>
		</div>
	)
}

{
	events.length > 0 && (
		<div class="properties-table-wrapper properties-table-spacing">
			<table>
				<thead>
					<tr>
						<th>Event</th>
						<th>Type</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{events.map((event) => (
						<tr>
							<td>
								<code>{event.name}</code>
							</td>
							<td>{event.type}</td>
							<td>{event.description}</td>
						</tr>
					))}
				</tbody>
			</table>
		</div>
	)
}
