---
import './PropertiesTable.css';

interface Props {
	config: any;
}

const { config } = Astro.props;

function getPropertyValues(property) {
	if (property.type === 'select') {
		const values = property.options.map((opt) => opt.label).join(', ');
		const defaultOpt = property.options.find((opt) => opt.default);
		return `(Default) ${defaultOpt?.label || property.defaultValue}, ${values.replace(defaultOpt?.label + ', ', '').replace(', ' + defaultOpt?.label, '')}`;
	}

	if (property.type === 'checkbox') {
		return `(Default) ${property.defaultValue}, True`;
	}

	if (property.type === 'text') {
		return `Text input`;
	}

	return 'Various';
}
---

<div class="properties-table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Property</th>
				<th>Values</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{
				config.properties.map((property) => (
					<tr>
						<th scope="row">
							{property.alternativeName
								? `${property.name} / ${property.alternativeName}`
								: property.name}
						</th>
						<td>{getPropertyValues(property)}</td>
						<td>{property.description}</td>
					</tr>
				))
			}
		</tbody>
	</table>
</div>
