---
import { DBAccordion, DBAccordionItem, DBTag } from '@db-ux/react-core-components';
import './TokenTable.css';

const colorTokens = {
	neutral: [
		'db-neutral-bg-basic-level-1-default',
		'db-neutral-bg-basic-level-1-hovered',
		'db-neutral-bg-basic-level-1-pressed',
		'db-neutral-bg-basic-level-2-default',
		'db-neutral-bg-basic-level-2-hovered',
		'db-neutral-bg-basic-level-2-pressed',
		'db-neutral-bg-basic-level-3-default',
		'db-neutral-bg-basic-level-3-hovered',
		'db-neutral-bg-basic-level-3-pressed',
		'db-neutral-bg-basic-transparent-full-default',
		'db-neutral-bg-basic-transparent-semi-default',
		'db-neutral-bg-basic-transparent-full-hovered',
		'db-neutral-bg-basic-transparent-full-pressed',
		'db-neutral-bg-basic-transparent-semi-hovered',
		'db-neutral-bg-basic-transparent-semi-pressed',
		'db-neutral-on-bg-basic-emphasis-100-default',
		'db-neutral-on-bg-basic-emphasis-100-hovered',
		'db-neutral-on-bg-basic-emphasis-100-pressed',
		'db-neutral-on-bg-basic-emphasis-90-default',
		'db-neutral-on-bg-basic-emphasis-90-hovered',
		'db-neutral-on-bg-basic-emphasis-90-pressed',
		'db-neutral-on-bg-basic-emphasis-80-default',
		'db-neutral-on-bg-basic-emphasis-80-hovered',
		'db-neutral-on-bg-basic-emphasis-80-pressed',
		'db-neutral-on-bg-basic-emphasis-70-default',
		'db-neutral-on-bg-basic-emphasis-70-hovered',
		'db-neutral-on-bg-basic-emphasis-70-pressed',
		'db-neutral-on-bg-basic-emphasis-60-default',
		'db-neutral-on-bg-basic-emphasis-50-default',
		'db-neutral-bg-inverted-contrast-max-default',
		'db-neutral-bg-inverted-contrast-max-hovered',
		'db-neutral-bg-inverted-contrast-max-pressed',
		'db-neutral-bg-inverted-contrast-high-default',
		'db-neutral-bg-inverted-contrast-high-hovered',
		'db-neutral-bg-inverted-contrast-high-pressed',
		'db-neutral-bg-inverted-contrast-low-default',
		'db-neutral-bg-inverted-contrast-low-hovered',
		'db-neutral-bg-inverted-contrast-low-pressed',
		'db-neutral-on-bg-inverted-default',
		'db-neutral-on-bg-inverted-hovered',
		'db-neutral-on-bg-inverted-pressed',
		'db-neutral-bg-vibrant-default',
		'db-neutral-bg-vibrant-hovered',
		'db-neutral-bg-vibrant-pressed',
		'db-neutral-on-bg-vibrant-default',
		'db-neutral-on-bg-vibrant-hovered',
		'db-neutral-on-bg-vibrant-pressed',
		'db-neutral-origin-default',
		'db-neutral-origin-hovered',
		'db-neutral-origin-pressed',
		'db-neutral-on-origin-default',
	],
	brand: [
		'db-brand-bg-basic-level-1-default',
		'db-brand-bg-basic-level-1-hovered',
		'db-brand-bg-basic-level-1-pressed',
		'db-brand-bg-basic-level-2-default',
		'db-brand-bg-basic-level-2-hovered',
		'db-brand-bg-basic-level-2-pressed',
		'db-brand-bg-basic-level-3-default',
		'db-brand-bg-basic-level-3-hovered',
		'db-brand-bg-basic-level-3-pressed',
		'db-brand-bg-basic-transparent-full-default',
		'db-brand-bg-basic-transparent-semi-default',
		'db-brand-bg-basic-transparent-full-hovered',
		'db-brand-bg-basic-transparent-full-pressed',
		'db-brand-bg-basic-transparent-semi-hovered',
		'db-brand-bg-basic-transparent-semi-pressed',
		'db-brand-on-bg-basic-emphasis-100-default',
		'db-brand-on-bg-basic-emphasis-100-hovered',
		'db-brand-on-bg-basic-emphasis-100-pressed',
		'db-brand-on-bg-basic-emphasis-90-default',
		'db-brand-on-bg-basic-emphasis-90-hovered',
		'db-brand-on-bg-basic-emphasis-90-pressed',
		'db-brand-on-bg-basic-emphasis-80-default',
		'db-brand-on-bg-basic-emphasis-80-hovered',
		'db-brand-on-bg-basic-emphasis-80-pressed',
		'db-brand-on-bg-basic-emphasis-70-default',
		'db-brand-on-bg-basic-emphasis-70-hovered',
		'db-brand-on-bg-basic-emphasis-70-pressed',
		'db-brand-on-bg-basic-emphasis-60-default',
		'db-brand-on-bg-basic-emphasis-50-default',
		'db-brand-bg-inverted-contrast-max-default',
		'db-brand-bg-inverted-contrast-max-hovered',
		'db-brand-bg-inverted-contrast-max-pressed',
		'db-brand-bg-inverted-contrast-high-default',
		'db-brand-bg-inverted-contrast-high-hovered',
		'db-brand-bg-inverted-contrast-high-pressed',
		'db-brand-bg-inverted-contrast-low-default',
		'db-brand-bg-inverted-contrast-low-hovered',
		'db-brand-bg-inverted-contrast-low-pressed',
		'db-brand-on-bg-inverted-default',
		'db-brand-on-bg-inverted-hovered',
		'db-brand-on-bg-inverted-pressed',
		'db-brand-bg-vibrant-default',
		'db-brand-bg-vibrant-hovered',
		'db-brand-bg-vibrant-pressed',
		'db-brand-on-bg-vibrant-default',
		'db-brand-on-bg-vibrant-hovered',
		'db-brand-on-bg-vibrant-pressed',
		'db-brand-origin-default',
		'db-brand-origin-hovered',
		'db-brand-origin-pressed',
		'db-brand-on-origin-default',
	],
	informational: [
		'db-informational-bg-basic-level-1-default',
		'db-informational-bg-basic-level-1-hovered',
		'db-informational-bg-basic-level-1-pressed',
		'db-informational-bg-basic-level-2-default',
		'db-informational-bg-basic-level-2-hovered',
		'db-informational-bg-basic-level-2-pressed',
		'db-informational-bg-basic-level-3-default',
		'db-informational-bg-basic-level-3-hovered',
		'db-informational-bg-basic-level-3-pressed',
		'db-informational-bg-basic-transparent-full-default',
		'db-informational-bg-basic-transparent-semi-default',
		'db-informational-bg-basic-transparent-full-hovered',
		'db-informational-bg-basic-transparent-full-pressed',
		'db-informational-bg-basic-transparent-semi-hovered',
		'db-informational-bg-basic-transparent-semi-pressed',
		'db-informational-on-bg-basic-emphasis-100-default',
		'db-informational-on-bg-basic-emphasis-100-hovered',
		'db-informational-on-bg-basic-emphasis-100-pressed',
		'db-informational-on-bg-basic-emphasis-90-default',
		'db-informational-on-bg-basic-emphasis-90-hovered',
		'db-informational-on-bg-basic-emphasis-90-pressed',
		'db-informational-on-bg-basic-emphasis-80-default',
		'db-informational-on-bg-basic-emphasis-80-hovered',
		'db-informational-on-bg-basic-emphasis-80-pressed',
		'db-informational-on-bg-basic-emphasis-70-default',
		'db-informational-on-bg-basic-emphasis-70-hovered',
		'db-informational-on-bg-basic-emphasis-70-pressed',
		'db-informational-on-bg-basic-emphasis-60-default',
		'db-informational-on-bg-basic-emphasis-50-default',
		'db-informational-bg-inverted-contrast-max-default',
		'db-informational-bg-inverted-contrast-max-hovered',
		'db-informational-bg-inverted-contrast-max-pressed',
		'db-informational-bg-inverted-contrast-high-default',
		'db-informational-bg-inverted-contrast-high-hovered',
		'db-informational-bg-inverted-contrast-high-pressed',
		'db-informational-bg-inverted-contrast-low-default',
		'db-informational-bg-inverted-contrast-low-hovered',
		'db-informational-bg-inverted-contrast-low-pressed',
		'db-informational-on-bg-inverted-default',
		'db-informational-on-bg-inverted-hovered',
		'db-informational-on-bg-inverted-pressed',
		'db-informational-bg-vibrant-default',
		'db-informational-bg-vibrant-hovered',
		'db-informational-bg-vibrant-pressed',
		'db-informational-on-bg-vibrant-default',
		'db-informational-on-bg-vibrant-hovered',
		'db-informational-on-bg-vibrant-pressed',
		'db-informational-origin-default',
		'db-informational-origin-hovered',
		'db-informational-origin-pressed',
		'db-informational-on-origin-default',
	],
	warning: [
		'db-warning-bg-basic-level-1-default',
		'db-warning-bg-basic-level-1-hovered',
		'db-warning-bg-basic-level-1-pressed',
		'db-warning-bg-basic-level-2-default',
		'db-warning-bg-basic-level-2-hovered',
		'db-warning-bg-basic-level-2-pressed',
		'db-warning-bg-basic-level-3-default',
		'db-warning-bg-basic-level-3-hovered',
		'db-warning-bg-basic-level-3-pressed',
		'db-warning-bg-basic-transparent-full-default',
		'db-warning-bg-basic-transparent-semi-default',
		'db-warning-bg-basic-transparent-full-hovered',
		'db-warning-bg-basic-transparent-full-pressed',
		'db-warning-bg-basic-transparent-semi-hovered',
		'db-warning-bg-basic-transparent-semi-pressed',
		'db-warning-on-bg-basic-emphasis-100-default',
		'db-warning-on-bg-basic-emphasis-100-hovered',
		'db-warning-on-bg-basic-emphasis-100-pressed',
		'db-warning-on-bg-basic-emphasis-90-default',
		'db-warning-on-bg-basic-emphasis-90-hovered',
		'db-warning-on-bg-basic-emphasis-90-pressed',
		'db-warning-on-bg-basic-emphasis-80-default',
		'db-warning-on-bg-basic-emphasis-80-hovered',
		'db-warning-on-bg-basic-emphasis-80-pressed',
		'db-warning-on-bg-basic-emphasis-70-default',
		'db-warning-on-bg-basic-emphasis-70-hovered',
		'db-warning-on-bg-basic-emphasis-70-pressed',
		'db-warning-on-bg-basic-emphasis-60-default',
		'db-warning-on-bg-basic-emphasis-50-default',
		'db-warning-bg-inverted-contrast-max-default',
		'db-warning-bg-inverted-contrast-max-hovered',
		'db-warning-bg-inverted-contrast-max-pressed',
		'db-warning-bg-inverted-contrast-high-default',
		'db-warning-bg-inverted-contrast-high-hovered',
		'db-warning-bg-inverted-contrast-high-pressed',
		'db-warning-bg-inverted-contrast-low-default',
		'db-warning-bg-inverted-contrast-low-hovered',
		'db-warning-bg-inverted-contrast-low-pressed',
		'db-warning-on-bg-inverted-default',
		'db-warning-on-bg-inverted-hovered',
		'db-warning-on-bg-inverted-pressed',
		'db-warning-bg-vibrant-default',
		'db-warning-bg-vibrant-hovered',
		'db-warning-bg-vibrant-pressed',
		'db-warning-on-bg-vibrant-default',
		'db-warning-on-bg-vibrant-hovered',
		'db-warning-on-bg-vibrant-pressed',
		'db-warning-origin-default',
		'db-warning-origin-hovered',
		'db-warning-origin-pressed',
		'db-warning-on-origin-default',
	],
	successful: [
		'db-successful-bg-basic-level-1-default',
		'db-successful-bg-basic-level-1-hovered',
		'db-successful-bg-basic-level-1-pressed',
		'db-successful-bg-basic-level-2-default',
		'db-successful-bg-basic-level-2-hovered',
		'db-successful-bg-basic-level-2-pressed',
		'db-successful-bg-basic-level-3-default',
		'db-successful-bg-basic-level-3-hovered',
		'db-successful-bg-basic-level-3-pressed',
		'db-successful-bg-basic-transparent-full-default',
		'db-successful-bg-basic-transparent-semi-default',
		'db-successful-bg-basic-transparent-full-hovered',
		'db-successful-bg-basic-transparent-full-pressed',
		'db-successful-bg-basic-transparent-semi-hovered',
		'db-successful-bg-basic-transparent-semi-pressed',
		'db-successful-on-bg-basic-emphasis-100-default',
		'db-successful-on-bg-basic-emphasis-100-hovered',
		'db-successful-on-bg-basic-emphasis-100-pressed',
		'db-successful-on-bg-basic-emphasis-90-default',
		'db-successful-on-bg-basic-emphasis-90-hovered',
		'db-successful-on-bg-basic-emphasis-90-pressed',
		'db-successful-on-bg-basic-emphasis-80-default',
		'db-successful-on-bg-basic-emphasis-80-hovered',
		'db-successful-on-bg-basic-emphasis-80-pressed',
		'db-successful-on-bg-basic-emphasis-70-default',
		'db-successful-on-bg-basic-emphasis-70-hovered',
		'db-successful-on-bg-basic-emphasis-70-pressed',
		'db-successful-on-bg-basic-emphasis-60-default',
		'db-successful-on-bg-basic-emphasis-50-default',
		'db-successful-bg-inverted-contrast-max-default',
		'db-successful-bg-inverted-contrast-max-hovered',
		'db-successful-bg-inverted-contrast-max-pressed',
		'db-successful-bg-inverted-contrast-high-default',
		'db-successful-bg-inverted-contrast-high-hovered',
		'db-successful-bg-inverted-contrast-high-pressed',
		'db-successful-bg-inverted-contrast-low-default',
		'db-successful-bg-inverted-contrast-low-hovered',
		'db-successful-bg-inverted-contrast-low-pressed',
		'db-successful-on-bg-inverted-default',
		'db-successful-on-bg-inverted-hovered',
		'db-successful-on-bg-inverted-pressed',
		'db-successful-bg-vibrant-default',
		'db-successful-bg-vibrant-hovered',
		'db-successful-bg-vibrant-pressed',
		'db-successful-on-bg-vibrant-default',
		'db-successful-on-bg-vibrant-hovered',
		'db-successful-on-bg-vibrant-pressed',
		'db-successful-origin-default',
		'db-successful-origin-hovered',
		'db-successful-origin-pressed',
		'db-successful-on-origin-default',
	],
	critical: [
		'db-critical-bg-basic-level-1-default',
		'db-critical-bg-basic-level-1-hovered',
		'db-critical-bg-basic-level-1-pressed',
		'db-critical-bg-basic-level-2-default',
		'db-critical-bg-basic-level-2-hovered',
		'db-critical-bg-basic-level-2-pressed',
		'db-critical-bg-basic-level-3-default',
		'db-critical-bg-basic-level-3-hovered',
		'db-critical-bg-basic-level-3-pressed',
		'db-critical-bg-basic-transparent-full-default',
		'db-critical-bg-basic-transparent-semi-default',
		'db-critical-bg-basic-transparent-full-hovered',
		'db-critical-bg-basic-transparent-full-pressed',
		'db-critical-bg-basic-transparent-semi-hovered',
		'db-critical-bg-basic-transparent-semi-pressed',
		'db-critical-on-bg-basic-emphasis-100-default',
		'db-critical-on-bg-basic-emphasis-100-hovered',
		'db-critical-on-bg-basic-emphasis-100-pressed',
		'db-critical-on-bg-basic-emphasis-90-default',
		'db-critical-on-bg-basic-emphasis-90-hovered',
		'db-critical-on-bg-basic-emphasis-90-pressed',
		'db-critical-on-bg-basic-emphasis-80-default',
		'db-critical-on-bg-basic-emphasis-80-hovered',
		'db-critical-on-bg-basic-emphasis-80-pressed',
		'db-critical-on-bg-basic-emphasis-70-default',
		'db-critical-on-bg-basic-emphasis-70-hovered',
		'db-critical-on-bg-basic-emphasis-70-pressed',
		'db-critical-on-bg-basic-emphasis-60-default',
		'db-critical-on-bg-basic-emphasis-50-default',
		'db-critical-bg-inverted-contrast-max-default',
		'db-critical-bg-inverted-contrast-max-hovered',
		'db-critical-bg-inverted-contrast-max-pressed',
		'db-critical-bg-inverted-contrast-high-default',
		'db-critical-bg-inverted-contrast-high-hovered',
		'db-critical-bg-inverted-contrast-high-pressed',
		'db-critical-bg-inverted-contrast-low-default',
		'db-critical-bg-inverted-contrast-low-hovered',
		'db-critical-bg-inverted-contrast-low-pressed',
		'db-critical-on-bg-inverted-default',
		'db-critical-on-bg-inverted-hovered',
		'db-critical-on-bg-inverted-pressed',
		'db-critical-bg-vibrant-default',
		'db-critical-bg-vibrant-hovered',
		'db-critical-bg-vibrant-pressed',
		'db-critical-on-bg-vibrant-default',
		'db-critical-on-bg-vibrant-hovered',
		'db-critical-on-bg-vibrant-pressed',
		'db-critical-origin-default',
		'db-critical-origin-hovered',
		'db-critical-origin-pressed',
		'db-critical-on-origin-default',
	],
	yellow: [
		'db-yellow-bg-basic-level-1-default',
		'db-yellow-bg-basic-level-1-hovered',
		'db-yellow-bg-basic-level-1-pressed',
		'db-yellow-bg-basic-level-2-default',
		'db-yellow-bg-basic-level-2-hovered',
		'db-yellow-bg-basic-level-2-pressed',
		'db-yellow-bg-basic-level-3-default',
		'db-yellow-bg-basic-level-3-hovered',
		'db-yellow-bg-basic-level-3-pressed',
		'db-yellow-bg-basic-transparent-full-default',
		'db-yellow-bg-basic-transparent-semi-default',
		'db-yellow-bg-basic-transparent-full-hovered',
		'db-yellow-bg-basic-transparent-full-pressed',
		'db-yellow-bg-basic-transparent-semi-hovered',
		'db-yellow-bg-basic-transparent-semi-pressed',
		'db-yellow-on-bg-basic-emphasis-100-default',
		'db-yellow-on-bg-basic-emphasis-100-hovered',
		'db-yellow-on-bg-basic-emphasis-100-pressed',
		'db-yellow-on-bg-basic-emphasis-90-default',
		'db-yellow-on-bg-basic-emphasis-90-hovered',
		'db-yellow-on-bg-basic-emphasis-90-pressed',
		'db-yellow-on-bg-basic-emphasis-80-default',
		'db-yellow-on-bg-basic-emphasis-80-hovered',
		'db-yellow-on-bg-basic-emphasis-80-pressed',
		'db-yellow-on-bg-basic-emphasis-70-default',
		'db-yellow-on-bg-basic-emphasis-70-hovered',
		'db-yellow-on-bg-basic-emphasis-70-pressed',
		'db-yellow-on-bg-basic-emphasis-60-default',
		'db-yellow-on-bg-basic-emphasis-50-default',
		'db-yellow-bg-inverted-contrast-max-default',
		'db-yellow-bg-inverted-contrast-max-hovered',
		'db-yellow-bg-inverted-contrast-max-pressed',
		'db-yellow-bg-inverted-contrast-high-default',
		'db-yellow-bg-inverted-contrast-high-hovered',
		'db-yellow-bg-inverted-contrast-high-pressed',
		'db-yellow-bg-inverted-contrast-low-default',
		'db-yellow-bg-inverted-contrast-low-hovered',
		'db-yellow-bg-inverted-contrast-low-pressed',
		'db-yellow-on-bg-inverted-default',
		'db-yellow-on-bg-inverted-hovered',
		'db-yellow-on-bg-inverted-pressed',
		'db-yellow-bg-vibrant-default',
		'db-yellow-bg-vibrant-hovered',
		'db-yellow-bg-vibrant-pressed',
		'db-yellow-on-bg-vibrant-default',
		'db-yellow-on-bg-vibrant-hovered',
		'db-yellow-on-bg-vibrant-pressed',
		'db-yellow-origin-default',
		'db-yellow-origin-hovered',
		'db-yellow-origin-pressed',
		'db-yellow-on-origin-default',
	],
	orange: [
		'db-orange-bg-basic-level-1-default',
		'db-orange-bg-basic-level-1-hovered',
		'db-orange-bg-basic-level-1-pressed',
		'db-orange-bg-basic-level-2-default',
		'db-orange-bg-basic-level-2-hovered',
		'db-orange-bg-basic-level-2-pressed',
		'db-orange-bg-basic-level-3-default',
		'db-orange-bg-basic-level-3-hovered',
		'db-orange-bg-basic-level-3-pressed',
		'db-orange-bg-basic-transparent-full-default',
		'db-orange-bg-basic-transparent-semi-default',
		'db-orange-bg-basic-transparent-full-hovered',
		'db-orange-bg-basic-transparent-full-pressed',
		'db-orange-bg-basic-transparent-semi-hovered',
		'db-orange-bg-basic-transparent-semi-pressed',
		'db-orange-on-bg-basic-emphasis-100-default',
		'db-orange-on-bg-basic-emphasis-100-hovered',
		'db-orange-on-bg-basic-emphasis-100-pressed',
		'db-orange-on-bg-basic-emphasis-90-default',
		'db-orange-on-bg-basic-emphasis-90-hovered',
		'db-orange-on-bg-basic-emphasis-90-pressed',
		'db-orange-on-bg-basic-emphasis-80-default',
		'db-orange-on-bg-basic-emphasis-80-hovered',
		'db-orange-on-bg-basic-emphasis-80-pressed',
		'db-orange-on-bg-basic-emphasis-70-default',
		'db-orange-on-bg-basic-emphasis-70-hovered',
		'db-orange-on-bg-basic-emphasis-70-pressed',
		'db-orange-on-bg-basic-emphasis-60-default',
		'db-orange-on-bg-basic-emphasis-50-default',
		'db-orange-bg-inverted-contrast-max-default',
		'db-orange-bg-inverted-contrast-max-hovered',
		'db-orange-bg-inverted-contrast-max-pressed',
		'db-orange-bg-inverted-contrast-high-default',
		'db-orange-bg-inverted-contrast-high-hovered',
		'db-orange-bg-inverted-contrast-high-pressed',
		'db-orange-bg-inverted-contrast-low-default',
		'db-orange-bg-inverted-contrast-low-hovered',
		'db-orange-bg-inverted-contrast-low-pressed',
		'db-orange-on-bg-inverted-default',
		'db-orange-on-bg-inverted-hovered',
		'db-orange-on-bg-inverted-pressed',
		'db-orange-bg-vibrant-default',
		'db-orange-bg-vibrant-hovered',
		'db-orange-bg-vibrant-pressed',
		'db-orange-on-bg-vibrant-default',
		'db-orange-on-bg-vibrant-hovered',
		'db-orange-on-bg-vibrant-pressed',
		'db-orange-origin-default',
		'db-orange-origin-hovered',
		'db-orange-origin-pressed',
		'db-orange-on-origin-default',
	],
	red: [
		'db-red-bg-basic-level-1-default',
		'db-red-bg-basic-level-1-hovered',
		'db-red-bg-basic-level-1-pressed',
		'db-red-bg-basic-level-2-default',
		'db-red-bg-basic-level-2-hovered',
		'db-red-bg-basic-level-2-pressed',
		'db-red-bg-basic-level-3-default',
		'db-red-bg-basic-level-3-hovered',
		'db-red-bg-basic-level-3-pressed',
		'db-red-bg-basic-transparent-full-default',
		'db-red-bg-basic-transparent-semi-default',
		'db-red-bg-basic-transparent-full-hovered',
		'db-red-bg-basic-transparent-full-pressed',
		'db-red-bg-basic-transparent-semi-hovered',
		'db-red-bg-basic-transparent-semi-pressed',
		'db-red-on-bg-basic-emphasis-100-default',
		'db-red-on-bg-basic-emphasis-100-hovered',
		'db-red-on-bg-basic-emphasis-100-pressed',
		'db-red-on-bg-basic-emphasis-90-default',
		'db-red-on-bg-basic-emphasis-90-hovered',
		'db-red-on-bg-basic-emphasis-90-pressed',
		'db-red-on-bg-basic-emphasis-80-default',
		'db-red-on-bg-basic-emphasis-80-hovered',
		'db-red-on-bg-basic-emphasis-80-pressed',
		'db-red-on-bg-basic-emphasis-70-default',
		'db-red-on-bg-basic-emphasis-70-hovered',
		'db-red-on-bg-basic-emphasis-70-pressed',
		'db-red-on-bg-basic-emphasis-60-default',
		'db-red-on-bg-basic-emphasis-50-default',
		'db-red-bg-inverted-contrast-max-default',
		'db-red-bg-inverted-contrast-max-hovered',
		'db-red-bg-inverted-contrast-max-pressed',
		'db-red-bg-inverted-contrast-high-default',
		'db-red-bg-inverted-contrast-high-hovered',
		'db-red-bg-inverted-contrast-high-pressed',
		'db-red-bg-inverted-contrast-low-default',
		'db-red-bg-inverted-contrast-low-hovered',
		'db-red-bg-inverted-contrast-low-pressed',
		'db-red-on-bg-inverted-default',
		'db-red-on-bg-inverted-hovered',
		'db-red-on-bg-inverted-pressed',
		'db-red-bg-vibrant-default',
		'db-red-bg-vibrant-hovered',
		'db-red-bg-vibrant-pressed',
		'db-red-on-bg-vibrant-default',
		'db-red-on-bg-vibrant-hovered',
		'db-red-on-bg-vibrant-pressed',
		'db-red-origin-default',
		'db-red-origin-hovered',
		'db-red-origin-pressed',
		'db-red-on-origin-default',
	],
	pink: [
		'db-pink-bg-basic-level-1-default',
		'db-pink-bg-basic-level-1-hovered',
		'db-pink-bg-basic-level-1-pressed',
		'db-pink-bg-basic-level-2-default',
		'db-pink-bg-basic-level-2-hovered',
		'db-pink-bg-basic-level-2-pressed',
		'db-pink-bg-basic-level-3-default',
		'db-pink-bg-basic-level-3-hovered',
		'db-pink-bg-basic-level-3-pressed',
		'db-pink-bg-basic-transparent-full-default',
		'db-pink-bg-basic-transparent-semi-default',
		'db-pink-bg-basic-transparent-full-hovered',
		'db-pink-bg-basic-transparent-full-pressed',
		'db-pink-bg-basic-transparent-semi-hovered',
		'db-pink-bg-basic-transparent-semi-pressed',
		'db-pink-on-bg-basic-emphasis-100-default',
		'db-pink-on-bg-basic-emphasis-100-hovered',
		'db-pink-on-bg-basic-emphasis-100-pressed',
		'db-pink-on-bg-basic-emphasis-90-default',
		'db-pink-on-bg-basic-emphasis-90-hovered',
		'db-pink-on-bg-basic-emphasis-90-pressed',
		'db-pink-on-bg-basic-emphasis-80-default',
		'db-pink-on-bg-basic-emphasis-80-hovered',
		'db-pink-on-bg-basic-emphasis-80-pressed',
		'db-pink-on-bg-basic-emphasis-70-default',
		'db-pink-on-bg-basic-emphasis-70-hovered',
		'db-pink-on-bg-basic-emphasis-70-pressed',
		'db-pink-on-bg-basic-emphasis-60-default',
		'db-pink-on-bg-basic-emphasis-50-default',
		'db-pink-bg-inverted-contrast-max-default',
		'db-pink-bg-inverted-contrast-max-hovered',
		'db-pink-bg-inverted-contrast-max-pressed',
		'db-pink-bg-inverted-contrast-high-default',
		'db-pink-bg-inverted-contrast-high-hovered',
		'db-pink-bg-inverted-contrast-high-pressed',
		'db-pink-bg-inverted-contrast-low-default',
		'db-pink-bg-inverted-contrast-low-hovered',
		'db-pink-bg-inverted-contrast-low-pressed',
		'db-pink-on-bg-inverted-default',
		'db-pink-on-bg-inverted-hovered',
		'db-pink-on-bg-inverted-pressed',
		'db-pink-bg-vibrant-default',
		'db-pink-bg-vibrant-hovered',
		'db-pink-bg-vibrant-pressed',
		'db-pink-on-bg-vibrant-default',
		'db-pink-on-bg-vibrant-hovered',
		'db-pink-on-bg-vibrant-pressed',
		'db-pink-origin-default',
		'db-pink-origin-hovered',
		'db-pink-origin-pressed',
		'db-pink-on-origin-default',
	],
	violet: [
		'db-violet-bg-basic-level-1-default',
		'db-violet-bg-basic-level-1-hovered',
		'db-violet-bg-basic-level-1-pressed',
		'db-violet-bg-basic-level-2-default',
		'db-violet-bg-basic-level-2-hovered',
		'db-violet-bg-basic-level-2-pressed',
		'db-violet-bg-basic-level-3-default',
		'db-violet-bg-basic-level-3-hovered',
		'db-violet-bg-basic-level-3-pressed',
		'db-violet-bg-basic-transparent-full-default',
		'db-violet-bg-basic-transparent-semi-default',
		'db-violet-bg-basic-transparent-full-hovered',
		'db-violet-bg-basic-transparent-full-pressed',
		'db-violet-bg-basic-transparent-semi-hovered',
		'db-violet-bg-basic-transparent-semi-pressed',
		'db-violet-on-bg-basic-emphasis-100-default',
		'db-violet-on-bg-basic-emphasis-100-hovered',
		'db-violet-on-bg-basic-emphasis-100-pressed',
		'db-violet-on-bg-basic-emphasis-90-default',
		'db-violet-on-bg-basic-emphasis-90-hovered',
		'db-violet-on-bg-basic-emphasis-90-pressed',
		'db-violet-on-bg-basic-emphasis-80-default',
		'db-violet-on-bg-basic-emphasis-80-hovered',
		'db-violet-on-bg-basic-emphasis-80-pressed',
		'db-violet-on-bg-basic-emphasis-70-default',
		'db-violet-on-bg-basic-emphasis-70-hovered',
		'db-violet-on-bg-basic-emphasis-70-pressed',
		'db-violet-on-bg-basic-emphasis-60-default',
		'db-violet-on-bg-basic-emphasis-50-default',
		'db-violet-bg-inverted-contrast-max-default',
		'db-violet-bg-inverted-contrast-max-hovered',
		'db-violet-bg-inverted-contrast-max-pressed',
		'db-violet-bg-inverted-contrast-high-default',
		'db-violet-bg-inverted-contrast-high-hovered',
		'db-violet-bg-inverted-contrast-high-pressed',
		'db-violet-bg-inverted-contrast-low-default',
		'db-violet-bg-inverted-contrast-low-hovered',
		'db-violet-bg-inverted-contrast-low-pressed',
		'db-violet-on-bg-inverted-default',
		'db-violet-on-bg-inverted-hovered',
		'db-violet-on-bg-inverted-pressed',
		'db-violet-bg-vibrant-default',
		'db-violet-bg-vibrant-hovered',
		'db-violet-bg-vibrant-pressed',
		'db-violet-on-bg-vibrant-default',
		'db-violet-on-bg-vibrant-hovered',
		'db-violet-on-bg-vibrant-pressed',
		'db-violet-origin-default',
		'db-violet-origin-hovered',
		'db-violet-origin-pressed',
		'db-violet-on-origin-default',
	],
	blue: [
		'db-blue-bg-basic-level-1-default',
		'db-blue-bg-basic-level-1-hovered',
		'db-blue-bg-basic-level-1-pressed',
		'db-blue-bg-basic-level-2-default',
		'db-blue-bg-basic-level-2-hovered',
		'db-blue-bg-basic-level-2-pressed',
		'db-blue-bg-basic-level-3-default',
		'db-blue-bg-basic-level-3-hovered',
		'db-blue-bg-basic-level-3-pressed',
		'db-blue-bg-basic-transparent-full-default',
		'db-blue-bg-basic-transparent-semi-default',
		'db-blue-bg-basic-transparent-full-hovered',
		'db-blue-bg-basic-transparent-full-pressed',
		'db-blue-bg-basic-transparent-semi-hovered',
		'db-blue-bg-basic-transparent-semi-pressed',
		'db-blue-on-bg-basic-emphasis-100-default',
		'db-blue-on-bg-basic-emphasis-100-hovered',
		'db-blue-on-bg-basic-emphasis-100-pressed',
		'db-blue-on-bg-basic-emphasis-90-default',
		'db-blue-on-bg-basic-emphasis-90-hovered',
		'db-blue-on-bg-basic-emphasis-90-pressed',
		'db-blue-on-bg-basic-emphasis-80-default',
		'db-blue-on-bg-basic-emphasis-80-hovered',
		'db-blue-on-bg-basic-emphasis-80-pressed',
		'db-blue-on-bg-basic-emphasis-70-default',
		'db-blue-on-bg-basic-emphasis-70-hovered',
		'db-blue-on-bg-basic-emphasis-70-pressed',
		'db-blue-on-bg-basic-emphasis-60-default',
		'db-blue-on-bg-basic-emphasis-50-default',
		'db-blue-bg-inverted-contrast-max-default',
		'db-blue-bg-inverted-contrast-max-hovered',
		'db-blue-bg-inverted-contrast-max-pressed',
		'db-blue-bg-inverted-contrast-high-default',
		'db-blue-bg-inverted-contrast-high-hovered',
		'db-blue-bg-inverted-contrast-high-pressed',
		'db-blue-bg-inverted-contrast-low-default',
		'db-blue-bg-inverted-contrast-low-hovered',
		'db-blue-bg-inverted-contrast-low-pressed',
		'db-blue-on-bg-inverted-default',
		'db-blue-on-bg-inverted-hovered',
		'db-blue-on-bg-inverted-pressed',
		'db-blue-bg-vibrant-default',
		'db-blue-bg-vibrant-hovered',
		'db-blue-bg-vibrant-pressed',
		'db-blue-on-bg-vibrant-default',
		'db-blue-on-bg-vibrant-hovered',
		'db-blue-on-bg-vibrant-pressed',
		'db-blue-origin-default',
		'db-blue-origin-hovered',
		'db-blue-origin-pressed',
		'db-blue-on-origin-default',
	],
	cyan: [
		'db-cyan-bg-basic-level-1-default',
		'db-cyan-bg-basic-level-1-hovered',
		'db-cyan-bg-basic-level-1-pressed',
		'db-cyan-bg-basic-level-2-default',
		'db-cyan-bg-basic-level-2-hovered',
		'db-cyan-bg-basic-level-2-pressed',
		'db-cyan-bg-basic-level-3-default',
		'db-cyan-bg-basic-level-3-hovered',
		'db-cyan-bg-basic-level-3-pressed',
		'db-cyan-bg-basic-transparent-full-default',
		'db-cyan-bg-basic-transparent-semi-default',
		'db-cyan-bg-basic-transparent-full-hovered',
		'db-cyan-bg-basic-transparent-full-pressed',
		'db-cyan-bg-basic-transparent-semi-hovered',
		'db-cyan-bg-basic-transparent-semi-pressed',
		'db-cyan-on-bg-basic-emphasis-100-default',
		'db-cyan-on-bg-basic-emphasis-100-hovered',
		'db-cyan-on-bg-basic-emphasis-100-pressed',
		'db-cyan-on-bg-basic-emphasis-90-default',
		'db-cyan-on-bg-basic-emphasis-90-hovered',
		'db-cyan-on-bg-basic-emphasis-90-pressed',
		'db-cyan-on-bg-basic-emphasis-80-default',
		'db-cyan-on-bg-basic-emphasis-80-hovered',
		'db-cyan-on-bg-basic-emphasis-80-pressed',
		'db-cyan-on-bg-basic-emphasis-70-default',
		'db-cyan-on-bg-basic-emphasis-70-hovered',
		'db-cyan-on-bg-basic-emphasis-70-pressed',
		'db-cyan-on-bg-basic-emphasis-60-default',
		'db-cyan-on-bg-basic-emphasis-50-default',
		'db-cyan-bg-inverted-contrast-max-default',
		'db-cyan-bg-inverted-contrast-max-hovered',
		'db-cyan-bg-inverted-contrast-max-pressed',
		'db-cyan-bg-inverted-contrast-high-default',
		'db-cyan-bg-inverted-contrast-high-hovered',
		'db-cyan-bg-inverted-contrast-high-pressed',
		'db-cyan-bg-inverted-contrast-low-default',
		'db-cyan-bg-inverted-contrast-low-hovered',
		'db-cyan-bg-inverted-contrast-low-pressed',
		'db-cyan-on-bg-inverted-default',
		'db-cyan-on-bg-inverted-hovered',
		'db-cyan-on-bg-inverted-pressed',
		'db-cyan-bg-vibrant-default',
		'db-cyan-bg-vibrant-hovered',
		'db-cyan-bg-vibrant-pressed',
		'db-cyan-on-bg-vibrant-default',
		'db-cyan-on-bg-vibrant-hovered',
		'db-cyan-on-bg-vibrant-pressed',
		'db-cyan-origin-default',
		'db-cyan-origin-hovered',
		'db-cyan-origin-pressed',
		'db-cyan-on-origin-default',
	],
	turquoise: [
		'db-turquoise-bg-basic-level-1-default',
		'db-turquoise-bg-basic-level-1-hovered',
		'db-turquoise-bg-basic-level-1-pressed',
		'db-turquoise-bg-basic-level-2-default',
		'db-turquoise-bg-basic-level-2-hovered',
		'db-turquoise-bg-basic-level-2-pressed',
		'db-turquoise-bg-basic-level-3-default',
		'db-turquoise-bg-basic-level-3-hovered',
		'db-turquoise-bg-basic-level-3-pressed',
		'db-turquoise-bg-basic-transparent-full-default',
		'db-turquoise-bg-basic-transparent-semi-default',
		'db-turquoise-bg-basic-transparent-full-hovered',
		'db-turquoise-bg-basic-transparent-full-pressed',
		'db-turquoise-bg-basic-transparent-semi-hovered',
		'db-turquoise-bg-basic-transparent-semi-pressed',
		'db-turquoise-on-bg-basic-emphasis-100-default',
		'db-turquoise-on-bg-basic-emphasis-100-hovered',
		'db-turquoise-on-bg-basic-emphasis-100-pressed',
		'db-turquoise-on-bg-basic-emphasis-90-default',
		'db-turquoise-on-bg-basic-emphasis-90-hovered',
		'db-turquoise-on-bg-basic-emphasis-90-pressed',
		'db-turquoise-on-bg-basic-emphasis-80-default',
		'db-turquoise-on-bg-basic-emphasis-80-hovered',
		'db-turquoise-on-bg-basic-emphasis-80-pressed',
		'db-turquoise-on-bg-basic-emphasis-70-default',
		'db-turquoise-on-bg-basic-emphasis-70-hovered',
		'db-turquoise-on-bg-basic-emphasis-70-pressed',
		'db-turquoise-on-bg-basic-emphasis-60-default',
		'db-turquoise-on-bg-basic-emphasis-50-default',
		'db-turquoise-bg-inverted-contrast-max-default',
		'db-turquoise-bg-inverted-contrast-max-hovered',
		'db-turquoise-bg-inverted-contrast-max-pressed',
		'db-turquoise-bg-inverted-contrast-high-default',
		'db-turquoise-bg-inverted-contrast-high-hovered',
		'db-turquoise-bg-inverted-contrast-high-pressed',
		'db-turquoise-bg-inverted-contrast-low-default',
		'db-turquoise-bg-inverted-contrast-low-hovered',
		'db-turquoise-bg-inverted-contrast-low-pressed',
		'db-turquoise-on-bg-inverted-default',
		'db-turquoise-on-bg-inverted-hovered',
		'db-turquoise-on-bg-inverted-pressed',
		'db-turquoise-bg-vibrant-default',
		'db-turquoise-bg-vibrant-hovered',
		'db-turquoise-bg-vibrant-pressed',
		'db-turquoise-on-bg-vibrant-default',
		'db-turquoise-on-bg-vibrant-hovered',
		'db-turquoise-on-bg-vibrant-pressed',
		'db-turquoise-origin-default',
		'db-turquoise-origin-hovered',
		'db-turquoise-origin-pressed',
		'db-turquoise-on-origin-default',
	],
	green: [
		'db-green-bg-basic-level-1-default',
		'db-green-bg-basic-level-1-hovered',
		'db-green-bg-basic-level-1-pressed',
		'db-green-bg-basic-level-2-default',
		'db-green-bg-basic-level-2-hovered',
		'db-green-bg-basic-level-2-pressed',
		'db-green-bg-basic-level-3-default',
		'db-green-bg-basic-level-3-hovered',
		'db-green-bg-basic-level-3-pressed',
		'db-green-bg-basic-transparent-full-default',
		'db-green-bg-basic-transparent-semi-default',
		'db-green-bg-basic-transparent-full-hovered',
		'db-green-bg-basic-transparent-full-pressed',
		'db-green-bg-basic-transparent-semi-hovered',
		'db-green-bg-basic-transparent-semi-pressed',
		'db-green-on-bg-basic-emphasis-100-default',
		'db-green-on-bg-basic-emphasis-100-hovered',
		'db-green-on-bg-basic-emphasis-100-pressed',
		'db-green-on-bg-basic-emphasis-90-default',
		'db-green-on-bg-basic-emphasis-90-hovered',
		'db-green-on-bg-basic-emphasis-90-pressed',
		'db-green-on-bg-basic-emphasis-80-default',
		'db-green-on-bg-basic-emphasis-80-hovered',
		'db-green-on-bg-basic-emphasis-80-pressed',
		'db-green-on-bg-basic-emphasis-70-default',
		'db-green-on-bg-basic-emphasis-70-hovered',
		'db-green-on-bg-basic-emphasis-70-pressed',
		'db-green-on-bg-basic-emphasis-60-default',
		'db-green-on-bg-basic-emphasis-50-default',
		'db-green-bg-inverted-contrast-max-default',
		'db-green-bg-inverted-contrast-max-hovered',
		'db-green-bg-inverted-contrast-max-pressed',
		'db-green-bg-inverted-contrast-high-default',
		'db-green-bg-inverted-contrast-high-hovered',
		'db-green-bg-inverted-contrast-high-pressed',
		'db-green-bg-inverted-contrast-low-default',
		'db-green-bg-inverted-contrast-low-hovered',
		'db-green-bg-inverted-contrast-low-pressed',
		'db-green-on-bg-inverted-default',
		'db-green-on-bg-inverted-hovered',
		'db-green-on-bg-inverted-pressed',
		'db-green-bg-vibrant-default',
		'db-green-bg-vibrant-hovered',
		'db-green-bg-vibrant-pressed',
		'db-green-on-bg-vibrant-default',
		'db-green-on-bg-vibrant-hovered',
		'db-green-on-bg-vibrant-pressed',
		'db-green-origin-default',
		'db-green-origin-hovered',
		'db-green-origin-pressed',
		'db-green-on-origin-default',
	],
	burgundy: [
		'db-burgundy-bg-basic-level-1-default',
		'db-burgundy-bg-basic-level-1-hovered',
		'db-burgundy-bg-basic-level-1-pressed',
		'db-burgundy-bg-basic-level-2-default',
		'db-burgundy-bg-basic-level-2-hovered',
		'db-burgundy-bg-basic-level-2-pressed',
		'db-burgundy-bg-basic-level-3-default',
		'db-burgundy-bg-basic-level-3-hovered',
		'db-burgundy-bg-basic-level-3-pressed',
		'db-burgundy-bg-basic-transparent-full-default',
		'db-burgundy-bg-basic-transparent-semi-default',
		'db-burgundy-bg-basic-transparent-full-hovered',
		'db-burgundy-bg-basic-transparent-full-pressed',
		'db-burgundy-bg-basic-transparent-semi-hovered',
		'db-burgundy-bg-basic-transparent-semi-pressed',
		'db-burgundy-on-bg-basic-emphasis-100-default',
		'db-burgundy-on-bg-basic-emphasis-100-hovered',
		'db-burgundy-on-bg-basic-emphasis-100-pressed',
		'db-burgundy-on-bg-basic-emphasis-90-default',
		'db-burgundy-on-bg-basic-emphasis-90-hovered',
		'db-burgundy-on-bg-basic-emphasis-90-pressed',
		'db-burgundy-on-bg-basic-emphasis-80-default',
		'db-burgundy-on-bg-basic-emphasis-80-hovered',
		'db-burgundy-on-bg-basic-emphasis-80-pressed',
		'db-burgundy-on-bg-basic-emphasis-70-default',
		'db-burgundy-on-bg-basic-emphasis-70-hovered',
		'db-burgundy-on-bg-basic-emphasis-70-pressed',
		'db-burgundy-on-bg-basic-emphasis-60-default',
		'db-burgundy-on-bg-basic-emphasis-50-default',
		'db-burgundy-bg-inverted-contrast-max-default',
		'db-burgundy-bg-inverted-contrast-max-hovered',
		'db-burgundy-bg-inverted-contrast-max-pressed',
		'db-burgundy-bg-inverted-contrast-high-default',
		'db-burgundy-bg-inverted-contrast-high-hovered',
		'db-burgundy-bg-inverted-contrast-high-pressed',
		'db-burgundy-bg-inverted-contrast-low-default',
		'db-burgundy-bg-inverted-contrast-low-hovered',
		'db-burgundy-bg-inverted-contrast-low-pressed',
		'db-burgundy-on-bg-inverted-default',
		'db-burgundy-on-bg-inverted-hovered',
		'db-burgundy-on-bg-inverted-pressed',
		'db-burgundy-bg-vibrant-default',
		'db-burgundy-bg-vibrant-hovered',
		'db-burgundy-bg-vibrant-pressed',
		'db-burgundy-on-bg-vibrant-default',
		'db-burgundy-on-bg-vibrant-hovered',
		'db-burgundy-on-bg-vibrant-pressed',
		'db-burgundy-origin-default',
		'db-burgundy-origin-hovered',
		'db-burgundy-origin-pressed',
		'db-burgundy-on-origin-default',
	],
};

const categories = [
	{ key: 'neutral', label: 'Neutral' },
	{ key: 'brand', label: 'Brand' },
	{ key: 'informational', label: 'Informational' },
	{ key: 'warning', label: 'Warning' },
	{ key: 'successful', label: 'Successful' },
	{ key: 'critical', label: 'Critical' },
	{ key: 'yellow', label: 'Yellow' },
	{ key: 'orange', label: 'Orange' },
	{ key: 'red', label: 'Red' },
	{ key: 'pink', label: 'Pink' },
	{ key: 'violet', label: 'Violet' },
	{ key: 'blue', label: 'Blue' },
	{ key: 'cyan', label: 'Cyan' },
	{ key: 'turquoise', label: 'Turquoise' },
	{ key: 'green', label: 'Green' },
	{ key: 'burgundy', label: 'Burgundy' },
];
---

<div class="token-table">
	<DBAccordion variant="card">
		{
			categories.map(({ key, label }) => (
				<DBAccordionItem headline={label} data-color={key}>
					<span slot="headline" class="accordion-headline">
						<span class="color-preview" style={`background-color: var(--db-${key}-origin-default)`} />
						{label}
					</span>
					<div data-color="neutral">
						<table>
							<thead>
								<tr>
									<th>Token</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								{colorTokens[key].map((token) => (
									<tr
										onclick={`const span = this.querySelector('.copy-text'); span.textContent='Copied'; setTimeout(() => span.textContent='Copy Token', 2000); navigator.clipboard.writeText('var(--${token})')`}
									>
										<td>
											<div class="token-cell">
												<DBTag data-color="neutral">--{token}</DBTag> <span class="copy-text">Copy Token</span>
												<span data-icon-trailing="copy" data-icon-weight="16" />
											</div>
										</td>
										<td>
											<span class="color-swatch" style={`background-color: var(--${token})`} />
										</td>
									</tr>
								))}
							</tbody>
						</table>
					</div>
				</DBAccordionItem>
			))
		}
	</DBAccordion>
</div>
