---
import type { MarkdownHeading } from 'astro';
import { TableOfContents } from '@template/components/TableOfContents';
import { FooterNav } from '@template/components/FooterNav';
import { DBSection } from '@db-ux/react-core-components';
import { PageHero } from '@components';

const { headings, frontmatter } = Astro.props as {
	headings: MarkdownHeading[];
	frontmatter: FrontMatter;
};
const toc = (headings?.length ?? 0) > 0 && frontmatter.toc === true;
---

<>
	{
		toc && (
			<TableOfContents
				client:only
				astro={Astro}
				headings={headings}
				tocMaxDepth={frontmatter.tocMaxDepth}
			/>
		)
	}

	<div class="dba-main-content">
		{
			(frontmatter.title || frontmatter.headline || frontmatter.description) && (
				<DBSection id={frontmatter.title} width="full" spacing="large">
					<PageHero
						title={frontmatter.title}
						headline={frontmatter.headline}
						description={frontmatter.description}
						headlineLevel={frontmatter.headlineLevel ?? 1}
						imageSrc={frontmatter.heroImage}
						imageAlt={frontmatter.heroImageAlt}
						align={frontmatter.align}
					/>
				</DBSection>
			)
		}
		<DBSection id="main-content-section" width="full" spacing="none">
			<slot />
		</DBSection>
		{frontmatter.nav && <FooterNav client:only />}
	</div>
</>
