---
import { DBBadge } from '@db-ux/react-core-components';
import './GuidelineExample.css';

interface Props {
	variant?: 'do' | 'dont' | 'caution';
	figmaUrl: string;
	description: string;
	fullWidth?: boolean;
}

const { variant, figmaUrl, description, fullWidth = false } = Astro.props;
const semantic = variant === 'do' ? 'successful' : variant === 'caution' ? 'warning' : variant === 'dont' ? 'critical' : undefined;
const label = variant === 'do' ? 'Do' : variant === 'caution' ? 'Caution' : variant === 'dont' ? "Don't" : undefined;
const fullUrl = `${figmaUrl}&embed-host=share&footer=false&viewport-controls=false&page-selector=false&scaling=scale-down-width`;
---

<div class="guideline-example" class:list={[fullWidth && 'full-width', semantic && `variant-${semantic}`]}>
	{variant && (
		<div class="guideline-badge">
			<DBBadge semantic={semantic} emphasis="strong" size="medium">
				<span>{label}</span>
			</DBBadge>
		</div>
	)}
	<iframe class="guideline-iframe" src={fullUrl} loading="eager" allowfullscreen></iframe>
	<p>{description}</p>
</div>
